<h2>Edit Settings</h2>
<div class="well">
	<fieldset>
		<legend>Hatena</legend>
            <div class="form-group">
                 <label class="col-lg-3 control-label">Registeration State</label>
                 <div class="col-lg-7">
                    <% if @user.hatena_id.blank? %>
                        <%= link_to 'Register your Hatena account.', '/auth/hatena', class: "btn btn-success" %>
                    <% else %>
                        <p> Registered as <%= @user.hatena_id %> </p>
                    <% end %>
                 </div>
            </div>
            <% if @user.hatena_id.present? %>
                <div class="form-group">
                    <%= form_for @user, url: { action: 'update'} do |f| %>
                        <%= f.label :hatena_bookmark_web_hook_key, class: "col-lg-3 control-label" %>
                        <div class="col-lg-7">
                            <%= f.text_field :hatena_bookmark_web_hook_key, class:"form-control"%>
                        </div>
                        <div class="col-lg-2">
                            <%= f.submit 'Save', class: "btn btn-primary"%>
                        </div>
                    <% end %>
                </div>
            <% end %>
            <% if @user.hatena_id.present? %>
                <div class="form-group">
                    <div class="col-lg-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Settings in Hatena::Bookmark</h3>
                            </div>
                            <div class="panel-body">
                                <ol>
                                    <li><%= link_to "Hatena::Bookmarkの設定", "http://b.hatena.ne.jp/#{@user.hatena_id}/config", target: '_blank' %>へアクセス。</li>
                                    <li>"外部サイト連携" タブを選択。</li>
                                    <li>Web Hookのフォームを以下のように入力する。</li>
                                        <ul>
                                            <li>URL: <%= text_field_tag 'url', "http://hatebu-hooker.herokuapp.com/", disabled: true, size: 30%></li>
                                            <li>キー: <%= @user.hatena_bookmark_web_hook_key.present? ? text_field_tag( 'キー',  @user.hatena_bookmark_web_hook_key, disabled: true, size: @user.hatena_bookmark_web_hook_key.size) : '上の"Hatena bookmark web hook key"で入力したもの。'%></li>
                                            <li>受け取るイベントの種類: [ブックマークの追加/更新/削除] をチェック
                                       </ul>
                                       <li>Web Hook の設定を保存する。</li>
                                 </ol>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </fieldset>
        <fieldset>
            <legend>Slack</legend>
            <div class="form-group">
                <label class="col-lg-3 control-label">Registeration State</label>
                 <div class="col-lg-7">
                    <% if @user.slack_token.blank? %>
                        <%= link_to 'Register your Slack account.', '/auth/slack', class: "btn btn-success" %>
                    <% else %>
                        <p> Registered </p>
                    <% end %>
             </div>
        </div>
	</fieldset>
</div>